<div id="dialog-addwords" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <!-- <div class="weui-dialog__hd"><strong class="weui-dialog__title">Translations</strong></div> -->
        <div class="weui-dialog__bd" id="con-translations">弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" id="addword_close" class="weui-dialog__btn weui-dialog__btn_default">Close</a>
            <a href="javascript:;" id="addword" class="weui-dialog__btn weui-dialog__btn_primary">Add this word</a>
        </div>
    </div>
</div>
<script>
  $("#addword_close").on("click",function(){
    $("#dialog-addwords").hide();
  })
</script>
