body {
  background-color: #a3a3a3;
}
.main {
  padding: 0.5em;
  background: #a3a3a3;
}
.weui-article {
  background: #fff;
  border-radius: 0.5em;
}
.weui-article h2 {
  color: #0f658d;
}
.contentmenu_translate {
  position: fixed;
  width: 100%;
  height: 2em;
  top: 0;
  background-color: #fff;
  display: none;
  -webkit-box-shadow: 0 0 1em #333;
          box-shadow: 0 0 1em #333;
}
